<ion-view view-title="Profile<ion-view view-title="Profile">">
  <ion-content style="background: #e8ebf1;" class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/users-header.png">
        <h2>Sai Hegde</h2>
        <p>
          e-lineman since May 2015.
        </p>
      </div>
      <div class="item item-body">
        <p>
          Premium Member since May 2015
        </p>
        <p>
          12 jobs completed.
        </p>
        <p>
          Instagram Account <b>(saihegde)</b> - Enabled
        </p>  
        <button class="button button-block button-dark" ng-click="identifyUser()">
          Renew Subscription
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
