<ion-view view-title="Jobs">
    <ion-content style="background: #e8ebf1;" class="padding">
        <div class="list card">
          <div class="item item-avatar">
            <img src="img/push-header.png">
              <h2>My Jobs</h2>
            <p>
              Your Job Dashboard! 
            </p>
            <a href="">Add New</a>
          </div>
        </div>
        
        <div class="list card">
          <div class="item item-text-wrap">
              <p>May 20 2015</p>
              Transformer Installation at the Humboldt Substation, Nevada 
          </div>
        </div>
        <div class="list card">
          <div class="item item-text-wrap">
              <p>May 20 2015</p>
              Cards against Humanity at a 7 Eleven with homeless people, Salt Lake 
          </div>
        </div>
        <div class="list card">
          <div class="item item-text-wrap">
              <p>May 20 2015</p>
              Transformers - Umm.. Megan Fox ;)
          </div>
        </div>
        <button ng-click="showTaskPrompt();"
        class="button button-icon icon ion-plus-circled"></button>
    </ion-content>
</ion-view>
