<ion-view view-title="Welcome">
  <ion-content style="background: #e8ebf1;" class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/ionic-header.png">
        <h2>e-lineman</h2>
        <p>
          Welcome to e-lineman!
        </p>
      </div>
      <div class="item item-body">
        <!--<div class="row">
          <div class="col"><img style="width: 100%;" src="img/push-preview.png"></div>
          <div class="col"><img style="width: 100%;" src="img/liveupdate-preview.png"></div>
          <div class="col"><img style="width: 100%;" src="img/package-preview.png"></div>
          <div class="col"><img style="width: 100%;" src="img/creator-preview.png"></div>
          <div class="col"><img style="width: 100%;" src="img/analytics-preview.png"></div>
        </div>-->
        <p>
          The e-lineman is an app -- {description}.  Simply hit one of the tabs to get started!
          We can post trending news from twitter here. Say #lineman #power
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
