<!--
Create tabs with an icon and label, using the tabs-dark style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-background-dark tabs-color-stable">

  <!-- Welcome Tab -->
  <ion-tab title="Home" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Jobs Tab -->
  <ion-tab title="Jobs" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/jobs">
    <ion-nav-view name="tab-jobs"></ion-nav-view>
  </ion-tab>
    
  <ion-tab title="Calculator" icon-off="ion-calculator" icon-on="ion-calculator" href="#/tab/calculator">
    <ion-nav-view name="tab-calculator"></ion-nav-view>
  </ion-tab>    
  
  <!-- Snap Pictures on the Job -->
  <ion-tab title="Snap It" icon-off="ion-social-instagram-outline" icon-on="ion-social-instagram" href="#/tab/snapit">
    <ion-nav-view name="tab-snapit"></ion-nav-view>
  </ion-tab>
    
  <!-- User Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/user">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>
    
  
  <!-- Push Tab -->
  <!-- <ion-tab title="Push" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/push">
    <ion-nav-view name="tab-push"></ion-nav-view>
  </ion-tab> -->

  <!-- Deploy Tab -->
  <!-- <ion-tab title="Deploy" icon-off="ion-ios-download-outline" icon-on="ion-ios-download" href="#/tab/deploy">
    <ion-nav-view name="tab-deploy"></ion-nav-view>
  </ion-tab> -->

  <!-- Analytics Tab -->
  <ion-tab title="Analytics" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/analytics">
    <ion-nav-view name="tab-analytics"></ion-nav-view>
  </ion-tab>


</ion-tabs>
